<div ng-controller="LandingPageCtrl" class="landingPage">
  <br>
  <h3>Performance Reviews are tough.</h3>
  <h3>Write the right thing.</h3>
  <br>
  <br>
  <p class="col-md-8 col-md-offset-2 landing-p">Performance reviews are one of the most important and overlooked tools in a managers tool chest. A clear and honest portrayal of performance can help an underperforming staff member develop into an excellent addition to the team. The wrong words can leave staff feeling confused and bitter. </p>
  <div class="row top-buffer">
    <span class="landQuote1 col-md-2 col-md-offset-3">"It's not your fault you're stupid"</span>
    <span class="landQuote2 col-md-2 col-md-offset-7">"I can tell that you're trying your best. It's just not enough"</span>
  </div>
  <p class="col-md-8 col-md-offset-2 top-buffer landing-p">Let us suggest the right words to give clear written performance reviews. Under the search tab, choose the subject you are interested in examining and then the current employee performance measurement (poor, acceptable, excellent) to see our suggestions.</p>
  <p class="col-md-8 col-md-offset-2 top-buffer landing-p">When you save a phrase and it has a poor measurement, we'll suggest ways to verbally approach your employee in a constructive way.</p>
  <br>
</div>
