<div class="navbar" ng-controller="NavBarCtrl">
  <div class="container">
    <!-- <div class="navbar-header"> -->
      <nav class="clearfix">
        <ul class="clearfix">
          <li class="navbar-brand">
            <!-- <img src="http://thumb101.shutterstock.com/display_pic_with_logo/1946846/185726267/stock-vector-vector-stick-man-group-of-stick-figures-surrounding-and-presenting-letters-reading-team-185726267.jpg" width="48"> -->
            <!-- <img class="logo" src="http://cartoon.ngmnexpo.com/cliparts/2014/12/17937.jpg" width="48"> -->
            <img class="logo" src="http://www.codeproject.com/KB/cs/539179/satisfied.jpg" width="48">
            <div class="logo">Say What?</div>
          </li>
          <li>
            <a href="/#/about" class="nav-about">Home</a>
          </li>
          <li>
            <a href="/#/search">Search for Phrases</a>
          </li>
          <li ng-show="$parent.isLoggedIn">
            <a href="/#/savedPhrases">Your Saved Phrases</a>
          </li>
          <li ng-show="$parent.isLoggedIn">
            <a href="/#/phrase/new">Create a New Phrase</a>
          </li>
          <li ng-show="!$parent.isLoggedIn">
            <a href="/#/login">Sign In</a>
          </li>
          <li ng-show="$parent.isLoggedIn">
            <a ng-click="logout()">Sign Out</a>
          </li>
        </ul>
      </nav>
    <!-- </div> -->
  </div>
</div>