<div class="navbar" ng-controller="NavBarCtrl">
  <div class="container">
    <!-- ::before what does this mean? -->
    <a class="navbar-brand" href="/">
      <img src="http://thumb101.shutterstock.com/display_pic_with_logo/1946846/185726267/stock-vector-vector-stick-man-group-of-stick-figures-surrounding-and-presenting-letters-reading-team-185726267.jpg" width="48">
      <div>Say What? (professionally speaking)</div>
    </a>
    <ul class="nav navbar-nav">
      <li>
        <a href="/#/about" class="nav-about">About</a>
      </li>
      <li>
        <a href="/#/search">Search for Phrases</a>
      </li>
      <li>
        <a href="/#/myphrases">Your Saved Phrases</a>
      </li>
      <li>
        <a href="/#/form">Create a New Phrase</a>
      </li>
      <li>
        <a href="/#/login">Sign In</a>
      </li>
    </ul>
  </div>
</div>