<h1>Search for a phrase</h1>
  <form>
    <div class="form-group">
      <label>What Subject? (*required)</label>
        <select id="subject" ng-model="subject">
          <option value="attitude">Attitude</option>
          <option value="appearance">Appearance</option>
          <option value="customer relations">Customer Relations</option>
          <option value="flexibility">Flexibility</option>
          <option value="initiative">Initiative</option>
          <option value="knowledge">Knowledge</option>
          <option value="quality of work">Quality of Work</option>
          <option value="safety">Safety</option>
          <option value="verbal communication">Verbal Communication</option>
          <option value="written communication">Written Communication</option>
        </select>
      <label>What Subject? (not required)</label>
        <select id="measure" ng-model="measure">
          <option value="all">All</option>
          <option value="excellent">Excellent</option>
          <option value="acceptable">Acceptable</option>
          <option value="poor">Poor</option>
        </select>

      <!-- the below might make it prettier but for now I just want it to work -->
      <!-- <div class="input-group-btn  board-list">
        <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" style="margin-top: 10px;">Choose Your Subject</button>
        <ul class="subject dropdown-menu dropdown-menu-right">
          <li value="attitude">Attitude</li>
          <li value="appearance">Appearance</li>
        </ul>
      </div> -->


    <button class="btn btn-default" ng-click="searchExisting()">Search</button>
  </form>
  <br>
  <br>
  <br>
  <div class="row">
    <div class ="search-phrases panel panel-success col-md-3 col-md-offset-1 .containerfluid" ng-repeat="phrase in searchedPhrases | filter: {keyWords: searchText.search}">
      <div class="row">
        <div class="panel-body ">
          <div>Subject:  {{phrase.subject}}</div>
          <div>Measurement:  {{phrase.measure}}</div>
          <p>Suggested Phrase:    <span>"{{phrase.phrase}}"</span></p>
          <div class="search-btn-div">
            <button class="btn btn-danger btn-delete-search" ng-click="removePhraseFromList($index)">X</button>
            <button class="btn btn-success btn-save"><a ng-href="#phrase/{{phrase.phraseid}}/save">Save this phrase</a></button>
          </div>
        </div>

      </div>
    </div>
  </div>